# Syntax

Defining variables

In [39]:
my_string = 'Hello World!'
print(my_string)

Hello World!

In [40]:
my_string_1, my_string_2 = 'Hello', 'World!'
print(my_string_1, my_string_2)

Hello World!

# Data structures

str: there is much to say but since you focus in numerical methods in this course, you will not really need it here.

In [41]:
# Initial strings
language = 'Python'
description = 'is a high-level, interpreted programming language.'
features = 'It is known for its readability, simplicity, and vast libraries.'

# Concatenating the strings
python_description = language + ' ' + description + ' ' + features

# Print the final message
print(python_description)

Python is a high-level, interpreted programming language. It is known for its readability, simplicity, and vast libraries.

int, float, bool

In [42]:
my_integer = 2048

print(type(my_integer))

check_inequality = 2 > 1
print(check_inequality)

<class 'int'>
True

In [43]:
#Addition
print(my_integer + 1)
#Multiplication
print(my_integer * 2)
#Exponentiation
print(my_integer ** 1000)

2049
4096
213772730161759466399474188010951219668541783644440884022479337796521365641656320135219708119058797636113432476439948596803993676274683289778502164749936497615274601236088241861530110071314012572282059053335018167187281410315759367677343260390298340254476992831941880070077716501984517057003761723411513271821967288407153482045359703563206815295489727157637378853678841190423513007240917554260603283649901383187401026719134076926139637205889786550207292745037826858210830309825485101724449119175164399951264490171867500411491201489160188706526682333712426243565644230529976761374701052840280131142292791473414077902956725015034140933773353533866127047937150370721670176000218453698618288461131098920080616958606452032146852926114680738529756826673156348037199462126273054339920374566564584309172711469680482082812290079723336181127082877312959917919190337798976554214858505938607501719273227391270307328578606513201477519512812963303469671766015587238583687206514042523416726952183235688591318812541117856105601053881996651845874572768453856668379685209983619028969526686410650350325567276179093764065532911167345145485043418345352717389458263137452802887076187180892067143925247464632770237387864651822486838129025416253726494036793809217792643030293124773960928568550669331488027352344465673803969150720626565679514896737544909950012564808013388679298823921750492778919168063812949308284459457283438547844388243293845039754408934890400669943173090246294171040502004047245949150505543142125459932078926762179257120398878558001371579003545147733419238694959273179892732692584076524015232972944306485923111042291881365613108669620486428265283039783958979187867799952049802973972732892510721139319315217956802631885636024195553938033390268850090172786178966664676324660848887415638162406034622749155863619238413264915145538850957396035338789660372822990345796970232898057224888249219103248395970800072634355344865439208745318508909131242050665583870027978941696860049303752127103163113217691959317916107305702036549599163088094539497377297569860575697628172025079873524465191336070428903130382643017742784142823825123656149826829690109241470403229722883856579041259859109141848755174638741908726609135747790699996955932078151840804326103063550996487645657187962347142034073224890216062417662525853872665228896427880913268182370900674102717189510123907285642763079867571459749218036319111801290471131662210073658747602212068423553927356142580116228970902857203202944900162606985628425924812873889885763116124260641726098499674093538451362317290009557711119701601676361854205115635177485163771930661443640697235939669708005395080222144360904441006978359210901817782259477545058823905149021331180654631884280884749535845710599687963464028814661973644144940504871655882385474194512645836561750254746753618797644622199632016010870726177578054981191086840145328371260885828078563209359967442020668588894946494072261997551135433943880837665041538028338132206698850421181442926592828490817934306969990800650424478087817992748378797095193055563715951464028257118160590879025923718982981142775968940828133446775912849471786780829176589957011621283759652169857970726274905909774997901468370826860234613340475794080217152183596635109230273870784856082264329586871696169000119609059674183521023841838041688746833027132477669376

You can check equalities, weak and strict inequalities

In [44]:
print(2 + 2 == 5)
print(2 + 2 != 5)
print(1 + 1 <= 2)

False
True
True

In [45]:
my_float = 2048.0
print(type(my_float))

<class 'float'>

each float number is stored in 64 bits,
* 52 for the fractional part $d$
* 11 for the exponent $e$,
* 1 for the sign $s$.

This means that we have between 15 and 16 decimal digits in a fractional expantion (because $10^{15}< 2^{52} < 10^{16}$). The exponent part can bear numbers between $2^{1024}$ and $2^{-1023}$ (because $2^{11} = 2048$)

This is the smallest number bigger than 0 in 64float arithmetic:

In [46]:
smallest_positive_number = (2.0)**(-1023) * (2**(-51) )
print(smallest_positive_number)
print(smallest_positive_number /2)
print(smallest_positive_number /2 == 0)

5e-324
0.0
True

The largest number is

In [47]:
largest_number = (2.0)**(1023) * (1-2**(-52)) * 2
print(largest_number)
print(largest_number * 2)

1.7976931348623155e+308
inf

We check with sys

In [48]:
import sys
print(sys.float_info.max)

1.7976931348623157e+308

Limits of float arithmentic.

In [49]:
# Addition of two floating point numbers
check_equality = .1 + .2 == .3
print("0.1 + 0.2 = 0.3?", check_equality)


# Sum of large and small number
large_number = 1e16
small_number = 1.1234567890123456

print("10^16 +" + str(small_number)+ "=", large_number + small_number)

print('1 +  10^(-16) > 1?: ', 1 + 1e-16 > 1.0)
print('1 +  10^(-16) = 1?: ', 1 + 1e-16 == 1.0)

0.1 + 0.2 = 0.3? False
10^16 +1.1234567890123457= 1.0000000000000002e+16
1 +  10^(-16) > 1?:  False
1 +  10^(-16) = 1?:  True

lists (ordered, mutable, indexing)

In [50]:
my_list = [1, 2, ['Hi', 'Ciao']]
print(type(my_list))
print(len(my_list))

<class 'list'>
3

Operations on lists

In [51]:
second_list = [3, 4]
new_list = my_list + second_list
print(new_list)

repeated_list = my_list * 4
print(repeated_list)

[1, 2, ['Hi', 'Ciao'], 3, 4]
[1, 2, ['Hi', 'Ciao'], 1, 2, ['Hi', 'Ciao'], 1, 2, ['Hi', 'Ciao'], 1, 2, ['Hi', 'Ciao']]

Appending to lists

In [52]:
new_list.append(['Ice-cream', 'Gelato'])
print(new_list)

[1, 2, ['Hi', 'Ciao'], 3, 4, ['Ice-cream', 'Gelato']]

Check membership

In [53]:
check_membership = 'Hi' in new_list
print(check_membership)

check_membership = (['Hi', 'Ciao'] in new_list)
print(check_membership)

False
True

Indexing

In [54]:
first_element = new_list[0]
print(first_element)

third_element = new_list[2]
print(third_element)


last_two_elements = new_list[-2:]
print(last_two_elements)

first_element_of_last_element = last_two_elements[-1][0]
print(first_element_of_last_element)

1
['Hi', 'Ciao']
[4, ['Ice-cream', 'Gelato']]
Ice-cream

tuples (ordered, immutable, indexing)

In [55]:
my_tuple = (1, 2, 3, 'Hi')
print(type(my_tuple))

my_tuple += (4, 5)
print(my_tuple)

print(my_tuple[0])
print(my_tuple[3:])

<class 'tuple'>
(1, 2, 3, 'Hi', 4, 5)
1
('Hi', 4, 5)

dictionaries (unordered, mutable, key-indexing)

dictionaries are key-value pairs stored as hash maps, allowing fast lookups, insertions, and deletions by key.

In [56]:
my_dictionary = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

print(my_dictionary.keys())
print(my_dictionary.values())

dict_keys(['name', 'age', 'city'])
dict_values(['Alice', 25, 'New York'])

Can look like a dataset

In [57]:
# Dataset: Student Information
students_data = {
    "student_1": {
        "name": "Alice",
        "age": 20,
        "major": "Computer Science",
        "GPA": 3.8
    },
    "student_2": {
        "name": "Bob",
        "age": 22,
        "major": "Mathematics",
        "GPA": 3.6
    },
    "student_3": {
        "name": "Charlie",
        "age": 21,
        "major": "Physics",
        "GPA": 3.9
    }
}

print(students_data.keys())
print(students_data.values())

dict_keys(['student_1', 'student_2', 'student_3'])
dict_values([{'name': 'Alice', 'age': 20, 'major': 'Computer Science', 'GPA': 3.8}, {'name': 'Bob', 'age': 22, 'major': 'Mathematics', 'GPA': 3.6}, {'name': 'Charlie', 'age': 21, 'major': 'Physics', 'GPA': 3.9}])

You access by key

In [58]:
print(students_data['student_1'])
print(students_data['student_1']['name'])

{'name': 'Alice', 'age': 20, 'major': 'Computer Science', 'GPA': 3.8}
Alice

You can add key-value pairs. You can check membership of values and keys.

In [59]:
another_student = {
                      "name": "Anne",
                      "age": 23,
                      "major": "Economics",
                      "GPA": 4
                  }

print(another_student in students_data.values())

# Add key 'student_4' with value equal to the variable another_student
students_data['student_4'] = another_student

print(another_student in students_data.values())
print('student_4' in students_data.keys())

False
True
True

| Operation                   | Lists    | Tuples   | Dictionaries |
|-----------------------------|----------|----------|--------------|
| **Access (by index/key)**    | O(1)     | O(1)     | O(1)         |
| **Insert**                   | O(n)     | Not allowed | O(1)         |
| **Membership Test (`in`)**   | O(n)     | O(n)     | O(1)         |

# Loops and controls

for loop: "for something in some_iterable:" and then you indent whatever goes into the loop.

In [60]:
my_list = [38.3, 27, 43.99, 3, 9, 82, 10]

for i in my_list:
    print(i)

# Note the indentation
print('Done!')

38.3
27
43.99
3
9
82
10
Done!

lists are iterable. But there are also built in iterable objects. Most notably, range() and enumerate()

In [61]:
my_list = [38.3, 27, 43.99, 3, 9, 82, 10]
for i in range(10):
    print(i ** 2 )

0
1
4
9
16
25
36
49
64
81

In [62]:
my_list = [38.3, 27, 43.99, 3, 9, 82, 10]
for index, element in enumerate(my_list):
    print(f"The element at index {index} is {element}.")

The element at index 0 is 38.3.
The element at index 1 is 27.
The element at index 2 is 43.99.
The element at index 3 is 3.
The element at index 4 is 9.
The element at index 5 is 82.
The element at index 6 is 10.

Find the maximum of a list

if statement: "if boolean_variable:" and then you indent the code which should be run if boolean_variable == True. You can also add what happens if boolean_variable == True with "else:" and then you indent.

In [63]:
my_list = [38.3, 27, 43.99, 3, 9, 82, 10]

max_value = -float('inf')

for element in my_list:
    if element > max_value:
        max_value = element
    else:
        print(element, ' is smaller than the current max',max_value)

print('Max:', max_value)

27  is smaller than the current max 38.3
3  is smaller than the current max 43.99
9  is smaller than the current max 43.99
10  is smaller than the current max 82
Max: 82

Sorting a list

We sort a list by starting from the left and compare each element $i$ with those on its right $\{i+1,\dots,n\}$, when we find $x_j$ with $x_j > x_i$ we swap positions $i$ and $j.$ It is easy to check that this requires $\mathcal{O}(n^2)$ comparisons.

In [64]:
my_list = [5, 3, 8, 6, 2]

for i in range(len(my_list)):
    for j in range(i + 1, len(my_list)):
        if my_list[i] < my_list[j]:
            my_list[i], my_list[j] = my_list[j], my_list[i]

print(my_list)

[8, 6, 5, 3, 2]

while statement is "while boolean_variable:" and you indent.

In [65]:
n = 20

factorial = 1

while n > 1:
    factorial *= n
    n -= 1

print(f"The factorial is: {factorial}")

The factorial is: 2432902008176640000

# List comprehension

In [66]:
my_range = [number for number in range(10)]
print(my_range)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

generate a random list

In [67]:
import random
random_list = [random.randint(1, 100) for _ in range(10)]
print(random_list)

[30, 65, 78, 4, 72, 26, 92, 84, 90, 70]

# Functions

In [68]:
# generate random numbers between 0 and 1
def generate_random_list(length):
    random_list = [random.random() for _ in range(length)]
    return random_list

In [69]:
def my_sort(my_list):
    for i in range(len(my_list)):
      for j in range(i + 1, len(my_list)):
          if my_list[i] < my_list[j]:
              # Swap the values at my_list[i] and my_list[j]
              my_list[i], my_list[j] = my_list[j], my_list[i]

    return my_list


print(my_sort(generate_random_list(5)))

[0.869300320792934, 0.7588073671297673, 0.4492090462838536, 0.41951982096165874, 0.2781907082306627]

Functions can self-reference (recursion)

In [70]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)


factorial(50)

30414093201713378043612608166064768844377641568960512000000000000

# Sorting a list: merge sort by function recursion

We try to improve on our previous sorting algorithm. The strategy is divide and conquer. Assume the lenght of the list is a power of 2, i.e. $n = 2^k.$ Then, starting from the $2^k$ (sorted) singletons, we can *merge* them into $2^{k-1}$ sorted couples, which we can merge in $2^{k-2}$ sorted quadruples... and so on. In $k$ steps we get our sorted list and step $\ell = 0,\dots,k-1$ has the cost of merging $2^{k-\ell}$ lists of lenght $2^\ell.$


Merging two sorted lists of lengths $m_1,m_2$ can be done in $\mathcal{O}(m_1m_2)$ comparisons, so the complexity is
$\sum_{\ell = 0}^{k-1} 2^{k-\ell}\mathcal{O}(2^{\ell+1}) = \mathcal{O}(k 2^{k}) = \mathcal{O}(n \log n).$



First we define a function which merges two sorted lists (of possibly different lenght):

In [71]:
def merge(left, right):
    i = 0
    j = 0
    sorted_list = []

    while i < len(left) and j < len(right):
        if left[i] > right[j]:
            sorted_list.append(left[i])
            i += 1
        else:
            sorted_list.append(right[j])
            j += 1

    sorted_list += left[i:]
    sorted_list += right[j:]

    return sorted_list

To handle the general case (the lenght is not a power of 2) we build the recursion by self-referencing the function merge.

In [72]:
def merge_sort(my_list):

    if len(my_list) <= 1:
      return my_list

    mid = len(my_list) // 2

    left = my_list[: mid]
    right = my_list[mid:]

    left = merge_sort(left)
    right = merge_sort(right)

    return merge(left, right)

Let's compare the times

In [73]:
import time

start_time = time.time()
merge_sort(generate_random_list(5000))
end_time = time.time()
print('Merge Sort: ', end_time - start_time)


start_time = time.time()
my_sort(generate_random_list(5000))
end_time = time.time()
print('My Sort: ',end_time - start_time)

Merge Sort:  0.04005002975463867
My Sort:  0.7783863544464111

# Knapsack problem

We want to solve the knapsack problem that is

$$\max_{x \in \{0,1\}^n} \sum_{j \in [n]}x_j v_j$$ 
subject to 
$$\sum_{j \in [n]} x_j w_j \leq W,$$
where $v_j$ is the value of object $j$, $w_j$ is the integer weight of object $j$ and $W$ is the maximum weight we can carry. The problem is NP-hard but it can be solved with dynamic programming in pseudo-poly time.

In [74]:
import random
random.seed(42)

num_items = 10

# Generate random weights, values and capacity
weight_j = [random.randint(0,50) for _ in range(num_items)]
profit_j = [random.randint(0,100) for _ in range(num_items)]
capacity = 120

print('weights:', weight_j)
print('profits:', profit_j)
print('capacity:', capacity)

weights: [40, 7, 1, 47, 17, 15, 14, 8, 47, 6]
profits: [86, 94, 69, 11, 75, 54, 4, 3, 11, 27]
capacity: 120

For $j \in [[1,n]]$ and $w \in [[0,W]]$ let $V_{j,w}$ be the value of the knapsack problem with maximum weight $w$ and objects $[j].$ The recursion is
$$V_{j,w} = \max \{ V_{k-1,w-w_j} + v_j,V_{j-1,w}\} \text{  if  } w_j \leq w, \text{  else  }V_{j,w} = V_{j-1,w}$$
with boundary conditions $V_{j,0} = 0.$

In [75]:
V_j_w = [[0] * (capacity + 1) for _ in range(num_items + 1)]

for i in range(1, num_items + 1):  # Iterate over items
    for w in range(capacity + 1):  # Iterate over capacities
        if weight_j[i - 1] > w:
            V_j_w[i][w] = V_j_w[i - 1][w]  # Exclude item
        else:
            V_j_w[i][w] = max(V_j_w[i - 1][w], profit_j[i - 1] + V_j_w[i - 1][w - weight_j[i - 1]])  # Include item

# The final result: max value for given capacity
print("Maximum Value:" , V_j_w[num_items][capacity])

Maximum Value: 412

We now use function recursion to solve the problem. @lru_cache(None) stores (caches) function results, so if the function is called again with the same inputs, it returns the stored result instantly instead of recomputing.

In [76]:
from functools import lru_cache

@lru_cache(None)

def solve(j, w):
    if w == 0 or j == -1:
        return 0
    if weight_j[j] > w:
        return solve(j-1, w)
    else:
        return max(solve(j-1, w - weight_j[j]) + profit_j[j], solve(j-1, w))

# Solve and print the result
print("Value:", solve(num_items - 1, capacity))

Value: 412

Solving the problem takes $\mathcal{O}(nW)$ time. The encoding lenght of the problem includes the number of bits to encode $W,$ which grows like $b = \log_2 W,$ so you see that the complexity is  $\mathcal{O}(n2^b),$ exponential in the number of bits used to encode $W.$